doctype html
head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")

  meta(name="description" content="")
  meta(name="viewport" content="width=device-width")

  title Broplication

  link(rel="stylesheet" href="DIGEST(styles/app.css)")

  script(src="DIGEST(scripts/vendor.js)" defer)
  script(src="DIGEST(scripts/app.js)" defer onload="require('initialize');")

